<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>Szxyzi0LFiilkqjD1q6M6saiRFREh9Tc</string>
	<key>Domain</key>
	<string>dev-ozf3qozh.eu.auth0.com</string>
</dict>
</plist>
